<%# Expects local variable back_links to be defined %>
<%= form_for(@sensor_datum, html: {:class => "centered center-block"}) do |f| %>
  <% if @sensor_datum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sensor_datum.errors.count, "error") %> prohibited this sensor_datum from being saved:</h2>

      <ul>
      <% @sensor_datum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

  <div class = "field">
    <%= f.label :data %><br>
    <%= f.text_field :data %>
  </div>
  <div class="field">
    <%= f.label :device_id %><br>
    <%= f.number_field :device_id %>
  </div>
  <div class="field">
    <%= f.label :building_id %><br>
    <%= f.number_field :building_id %>
  </div>
  <div class="actions">
    <%= back_links %>
    <%= f.submit %>
  </div>
<% end %>
