<p>
  <strong>ppm:</strong>
  <%= @sensor_datum.ppm %>
</p>
<p>
  <strong>device_id:</strong>
  <%= @sensor_datum.device_id %>
</p>
<p>
  <strong>experiment_id:</strong>
  <%= @sensor_datum.experiment_id %>
</p>

<%= link_to 'Back', sensor_data_path %> | 
<%= link_to 'Edit', edit_sensor_datum_path(@sensor_datum) %>
