<p>
  <strong>title:</strong>
  <%= @sensor_datum.title %>
</p>
<p>
  <strong>data:</strong>
  <%= @sensor_datum.data %>
</p>
<p>
  <strong>device_id:</strong>
  <%= @sensor_datum.device_id %>
</p>
<p>
  <strong>building_id:</strong>
  <%= @sensor_datum.building_id %>
</p>

<%= link_to 'Back', sensor_data_path %> | 
<%= link_to 'Edit', edit_sensor_datum_path(@sensor_datum) %>
