<% provide :title, "Devices" %>

<p>A list of all devices. Click "New device" to add it onto the screen.</p>
<%= paginate @devices %>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>MAC Address</th>
      <th>Notes</th>
      <th>Current Building</th>
      <th colspan="3" class="options">Options</th>
    </tr>
  </thead>

  <tbody>
    <% @devices.each do |device| %>
      <tr>
        <td><%= link_to device.name, device %></td>
        <td><%= device.address %></td>
        <td><%== device.notes && device.notes.length > 20 ? h(device.notes.first(20)) + link_to("...", device) : device.notes %></td>
        <td><%= link_to(device.building.name, device.building) if device.in_building? && BuildingPolicy.new(current_user, device.building).show? %></td>
        <td><%= link_to 'Show', device %></td>
        <td><%= link_to 'Edit', edit_device_path(device) %></td>
        <td><%= link_to('Destroy', device, method: :delete, data: { confirm: 'Are you sure?' }) if current_user.admin? %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @devices %>
<br>

<%= link_to 'New Device', new_device_path %>
