<% provide :title, "Sensor View" %>

<p>
  <strong>Name:</strong>
  <%= @device.name %>
</p>

<% if @device.in_experiment? %>
  <p></p>
	<strong>Current Experiment:</strong>
	<%= link_to @device.experiment.name, @device.experiment %>
  (<%= render "form_remove_from_experiment" %>)
  <p></p>
<% end %>

<p>
  <strong>MAC Address:</strong>
  <%= @device.address %>
</p>

<div>
<strong>Notes:</strong>
  <pre><%= @device.notes %></pre>
<br>
</div>

<p>
  <strong>Past experiments:</strong>
  <ul>
  <% policy_scope(@device.device_experiments).order(created_at: :desc).each do |de| %>
    <% if de.experiment %>
    <li>
      <%= link_to de.experiment.name, de.experiment %> (<%= de.location.nil? ? "No location" : de.location %>)
    </li>
    <%end %>
  <% end %>
  </ul>
</p>

<%= link_to 'Back', devices_path %> |
<%= link_to 'Edit', edit_device_path(@device) %>
