<% provide :title, "Sensor View" %>

<p>
  <strong>Name:</strong>
  <%= @device.name %>
</p>

<% if @device.in_building? %>
  <p></p>
	<strong>Current Building:</strong>
	<%= link_to @device.building.name, @device.building %>
  (<%= render "form_remove_from_building" %>)
  <p></p>
<% end %>

<p>
  <strong>MAC Address:</strong>
  <%= @device.address %>
</p>

<div>
<strong>Notes:</strong>
  <pre><%= @device.notes %></pre>
<br>
</div>

<p>
  <strong>Past buildings:</strong>
  <ul>
  <% policy_scope(@device.device_buildings).order(created_at: :desc).each do |de| %>
    <% if de.building %>
    <li>
      <%= link_to de.building.name, de.building %> (<%= de.location.nil? ? "No location" : de.location %>)
    </li>
    <%end %>
  <% end %>
  </ul>
</p>

<%= link_to 'Back', devices_path %> |
<%= link_to 'Edit', edit_device_path(@device) %>
