<div>
	<h3>Recent buildings:</h3>
	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Location</th>
				<th colspan="2"></th>
			</tr>
		</thead>
		<tbody>
		<% @buildings.last(10).reverse.each do |building| %>
			<tr>
				<td> <%= link_to building.name, building %> </td>
				<td>
					<%= building.location %>
				</td>
				<td> <%= if building.active?
							"Active"
						elsif building.end.nil?
							"Not begun"
						else
							"Finished"
						end %>
					</td>
				<td><%= link_to "Download CSV", building_path(building, :format =>'csv')%></td>
			</tr>
		<% end %>

	</tbody></table>
		<div class="center" style="margin-top:1em;">
			<%= link_to "View all buildings", buildings_path %> <br><br>
			<%= link_to "Create new building", new_building_path %>
		</div>
</div>
<div>
	<table class="table">

	<tbody>
		<% @buildings.each do |building| %>
		<tr>
			<th><h3><%= link_to building.name, building %></h3></th>
		</tr>
		<tr>
			<th>
				<table class="table">
					<thead>
						<tr>
							<th>Sensors</th>
							<th>Type</th>
							<th>Current Value</th>
						</tr>
					</thead>
					<tbody>
						<% building.sensors.each do |sensor| %>
						<tr>
							<th><%= link_to sensor.name, sensor %></th>
							<th> <%= sensor.sensor_type %> </th>
							<th><%= sensor.sensor_data.last.data.to_s + sensor.unit if sensor.sensor_data.last%></th>
						</tr>
						<% end %>
					</tbody>	
				</table>
			</th>
		</tr>
		<% end %>
	</tbody>
	</table>
	
</div>