
<div>
	<h3>Active buildings:</h3>
	<table class="table">

	<tbody>
		<% @buildings.reverse.each do |building| %>
		<%if building.active? %>
		<tr>
			<th><h4><%= link_to building.name, building %></h4></th>
			<th>
				<%if building.in_violation %>
					<h4 style="color:red">Paramter Violation</h4>
				<% end %>
			</th>
		</tr>
		<tr>
			<td colspan="2">
			<table class="table">
				<thead>
					<tr>
						<th>Sensor</th>
						<th>Type</th>
						<th>Value</th>
						<th>Last Update</th>
					</tr>
				</thead>
				<tbody>
					<% building.sensors.each do |sensor| %>
					<tr>
						<td><%= link_to sensor.name, sensor %></td>
						<td> <%= sensor.sensor_type %> </td>
						<%if sensor.sensor_data.last %>
						<td <% if sensor.in_violation %> 
								style = "color:red" 
								<% else %>
								style = "color:green"
								<%end%>><%= sensor.sensor_data.last.data.to_s + sensor.unit%></td>
						<td><%= sensor.sensor_data.last.created_at.to_s(:custom) %></td>
						<% end %>
					</tr>
					<% end %>
				</tbody>	
			</table>
			</td>
		</tr>
		<% end %>
		<% end %>
	</tbody>
	</table>
	
</div>

<div class="center">
	<%= link_to "View all buildings", buildings_path %> <br><br>
	<%= link_to "Create new building", new_building_path %>
</div>
