<div>
	<h3>Recent experiments:</h3>
	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Location</th>
				<th colspan="2"></th>
			</tr>
		</thead>
		<tbody>
		<% @experiments.last(10).reverse.each do |experiment| %>
			<tr>
				<td> <%= link_to experiment.name, experiment %> </td>
				<td>
					<%= experiment.location %>
				</td>
				<td> <%= if experiment.active?
							"Active"
						elsif experiment.end.nil?
							"Not begun"
						else
							"Finished"
						end %>
					</td>
				<td><%= link_to "Download CSV", experiment_path(experiment, :format =>'csv')%></td>
			</tr>
		<% end %>

	</tbody></table>
		<div class="center" style="margin-top:1em;">
			<%= link_to "View all experiments", experiments_path %> <br><br>
			<%= link_to "Create new experiment", new_experiment_path %>
		</div>
</div>