<% provide :title, "Sign up" %>

<%= render "error_messages" %>

<%= form_for(@user, html: { :class => "centered" }) do |f| %>

<div class="field">
	<%= f.label :name, "Username" %><br>
	<%= f.text_field :name %>
</div>

<div class="field">
	<%= f.label :password %><br>
	<%= f.password_field :password %>
</div>

<div class="field">
	<%= f.label :password_confirmation, "Confirm Password" %><br>
	<%= f.password_field :password_confirmation %>
</div>
<div class="actions">
	<%= f.submit "Create an account" %>
</div>
<% end %>