<%= form_for(@experiment, html: {:onsubmit => "return confirm('Are you sure you want to end the experiment?\\n\\nThis will not prevent currently active sensors from reporting any data they have already collected.');" }) do |f| %>
 <% if @experiment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@experiment.errors.count, "error") %> prohibited this experiment from being saved:</h2>

      <ul>
      <% @experiment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :end, :value => "now"%>
  </div>

  <div class="actions">
    <%= f.submit "End Experiment" %>
  </div>

<% end %>