<% if not @experiment.device_experiments.first.nil? %>
<%# If there is any devices attached to the experiment %>
<p>
  <table class="table">
<thead><tr>
  <th><strong>Sensors</strong></th> <th></th> <th><%= render "application/tooltip", visible: "Sensor Location", tooltip: "Where the sensor is in the room."%> </th><tr>
</thead>
<tbody>
	<% @experiment.device_experiments.each do |de| %>
		<tr><td><%= link_to de.device.name, de.device %>
        </td>
        <td><%= render 'form_device', device: de.device, experiment_id: @experiment.id if @experiment.active? %></td>
        <td> <%= de.location %> </td>
    </tr>
	<% end %>
</tbody>
</table>
<%= render 'form_all_devices' if @experiment.active? %>

</p>
<% else %>
<p><br>This experiment doesn't appear to have any sensors.</p>
<% end %>