<% provide :title, "Experiment View" %>

<p>
  Download:
  <%= link_to "CSV", :action => :show, :id => @experiment.id, :format =>'csv'%>

</p>

 <% if @experiment.sensor_data.empty? %>
 <br>
 <p>This experiment has no data yet.

 <% if @experiment.active? %>
 <%# Not printing anything %>
 <% elsif @experiment.start.nil? %>
 Press Start Experiment to begin collecting data.
 <% elsif !@experiment.end.nil?%> <%#should be true %>
 <br>
 Reopen experiment or wait for data to upload from already active sensors to add data.
 <% end %>
 </p>
 <% else %>
  <%= render 'chart' %>
 <% end %>

<br>
<p>
	<strong>Name:</strong>
	<%= @experiment.name %>
</p>

<p>
	<%= render "application/tooltip", tooltip: "The building and room where the experiment takes place.", visible: "<strong>Experiment Location:</strong>" %>
  <%= @experiment.location %>
</p>

<p>
	  <%= render "application/tooltip", tooltip: "Sensors stop collecting data when the CO2 levels fall below this amount.", visible: "<strong>CO2 Cutoff: </strong>" %>
  <%= @experiment.co2_cutoff %> ppm
</p>

<%= render 'show_start_and_end' %>

<div>
<strong>Details:</strong>
<pre><%= @experiment.details %></pre>
<br>
</div>

<%= render 'show_devices' %>
<br>
<%= link_to 'Back', experiments_path %> | 
<%= link_to 'Edit', edit_experiment_path(@experiment) %>