<div style="float:left; display:inline-block" class="container">
<%= form_for(@building) do |f| %>

  <div class="field">
    <%= f.hidden_field :checkout, :value => "?"%>
  </div>

  <table><tr>
    <td class="actions">
      <%= f.submit "Deactivate all", onclick: "return confirm('Are you sure you want to deactivate all sensors?');" %>
    </td>

    <td class="actions">
      <%= f.submit "Activate all" %>
    </td>

  <td>
    <%= render "application/tooltip", tooltip: "Activating sensors tells them to start collecting data." %>
  </td>
  </tr></table>
<% end %>
</div>
<br>
