<% provide :title, "Buildings" %>

<p>
  Download all:
  <%= link_to "CSV", buildings_path(format: "csv") %>
</p>
<p>
  A building is made up of one or more Devices which report the status of sensors that are attached to them. Buildings are mostly comprised of sensors, through devices, which report information to the building.
</p>
<%= paginate @buildings %>
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Location</th>
      <th>Status</th>
      <th>Download</th>
      <th colspan="2" class="options">Options</th>
    </tr>
  </thead>

  <tbody>
    <% @buildings.each do |building| %>
      <tr>
        <td><%= link_to building.name, building %></td>
        <td><%= building.location %></td>
        <td><%= if building.active?
                  "Monitoring"
                else
                  "Not Monotoring"
                end %></td>
        <td><%= link_to "CSV", :action => :show, :id => building.id, :format =>'csv'%></td>
        <td><%= link_to 'Edit', edit_building_path(building) %></td>
        <td><%= link_to 'Destroy', building, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @buildings %>
<br>

<%= link_to 'New building', new_building_path %>
