<!DOCTYPE html>
<html>
<head>

  <% if content_for? :title %>
  <title>Aerosense | <%= yield :title %></title>
  <% else %>
  <title>Aerosense</title>
  <% end %>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
  </head>
  <body class="<%= controller_name %> <%= action_name %> <%= content_for(:body_class) %>" style="<%= yield :body_style %>">
	<%= render 'layouts/header' %>
	<div class="container <%= yield :container_class %>">
    <% flash.each do |key, value| %>
      <% key = "info" if key =="notice"
         key = "danger" if key =="errors" || key =="error" %>
      <div class="alert alert-<%= key %> alert-dismissable">
        <%= value %>
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      </div>
    <% end %>
		<%= yield %>
	</div>
	<%= render 'layouts/footer' %>
  </body>
</html>
